html{
  margin: 0;
  height: 100%;
}
body{
  margin: 0;
  min-height:100%;
  position:relative;
}

.content{
  max-width: 980px;
  margin: 0 auto;
}

header{
  color: #717171;
  font-family:"Arial Narrow", Arial, sans-serif;
  background: -webkit-linear-gradient(#E9E9E9, #F0F0F0); /* For Safari */
  background: -o-linear-gradient(#E9E9E9, #F0F0F0); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#E9E9E9, #F0F0F0); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#E9E9E9, #FFFFFF); /* Standard syntax */
}

header h1{
  margin: 0;
  padding: 10px;
  color: #3670A0;
  text-shadow: 0 1px #FFFFFF;
  text-transform: lowercase;
}

header p{
  margin: 0;
  padding: 10px;
  text-shadow: 0 1px #FFFFFF;
}
nav{
  background-color: #E9E9E9;
  border-width: 1px 0;
  border-style: solid;
  border-color: #717171;
  width:100%;
  position:static;
}

nav a{
  padding: 0 2%;
  text-decoration: none;
  color: #FFED60;
  color: #FEBB2B;
  font-size: 25px;
}

nav a:hover{color: #3670A0}
nav a:active{color: #3670A0}

nav div a:first-child{
  padding-left: 10px;
}

section, #legend{
  color:#717171;
  padding: 50px;
  margin: 50px auto;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  border: 1px solid #EEEEEE;
  border-radius: 5px;
  box-shadow: 0px 0px 20px 3px #D3D3D3;
  max-width: 980px;
}


section h1{
  border-bottom: 1px solid #EEEEEE;
  font-size: 50px;
  margin: 0px;
}

section p{
  padding: 5px;
}

figure{
  border: 1px solid #EEEEEE;
  border-radius: 5px;
}

figcaption{
  text-align: center;
  border-top: 1px solid #EEEEEE;
  padding: 10px;
  margin: 10px;
}


.time{
  float:right;
}

.content-right{
  width:100%;
}

.main-left{
  display: inline-block;
  width: 50%;
  vertical-align:top;
}

.main-right{
  display: inline-block;
  width: 45%;
  vertical-align:top;
}

.main-right img{
  width: 60%;
  margin-left: 20%;
}

ul li{
  list-style: none;
}
ul li a{
  text-decoration: none;
  color: #FEBB2B;
}

ul li a:hover{color: #3670A0}
ul li a:visited{color: #3670A0}

table{
  padding: 10px;
  display: inline-block;
  margin: 20px auto;
  border-collapse: collapse;
}

th{
  padding: 0px 10px;
}

td{
  border: 1px solid #717171;
  text-align: center;
}

td img{
  width:50%;
  margin: 10px 0;
}


.code_sample{
  display: inline-block;
  background-color: #E9E9E9;
  border: 1px solid #717171;
  border-radius: 5px;
  margin-left: 5%;
  padding: 0px 5px;
  font-weight: 900;
  font-size: 15px;
}

.code_sample .key_word{
  color: #A52615;
}

.code_sample .code{
  color: #628239;
}

.code_sample .token{
  color: #000080;
}

body:nth-last-child(1){
  padding-bottom: 50px;
}

footer{
  padding: 10px 0;
  color: #717171;
  font-family:"Arial Narrow", Arial, sans-serif;
  background-color: #E9E9E9;
  margin: 0;
  width: 100%;
  border-top: 1px solid #717171;
  position: absolute;
  bottom:0;
  left:0;
}


footer h1{
  margin: 0;
  font-size: 15px;
}

@media (max-width: 1420px){
  #legend{
    display:none;
  }
}

@media (max-width: 980px){
  section{
    border: none;
    box-shadow: none;
  }
  .content-right{
    width:100%;
    margin-left:0;
  }
}

@media (max-width: 600px){
  header p{
    display: none;
  }
  nav a{
    display:block;
    padding-left:10px;
  }
  .main-left{
    width: 100%;
  }
  .main-right{
    display: inline;
    width: 100%;
  }
  section h1{
    font-size:30px;
  }
}
