<!DOCTYPE html>
<html>
	<head>
		<title>Django</title>
		<meta charset="UTF-8">
	</head>
	<body>
		<header>
			
		</header>
		<section>
			<h1>Django</h1>
			<a href="https://www.djangoproject.com/">
				<img src="https://www.djangoproject.com/s/img/site/hdr_logo.b19c5e60269d.gif" alt="Django">
			</a>
			<p>Django is a web framework that has its own templating system.</p>
			<h2>Code Sample</h2>
			<pre>
				<code>
{% extends &quot;base_generic.html&quot; %}

{% block title %}{{ section.title }}{% endblock %}

{% block content %}
&lt;h1&gt;{{ section.title }}&lt;/h1&gt;

{% for story in story_list %}
&lt;h2&gt;
	&lt;a href=&quot;{{ story.get_absolute_url }}&quot;&gt;
		{{ story.headline|upper }}
	&lt;/a&gt;
&lt;/h2&gt;
&lt;p&gt;{{ story.tease|truncatewords:&quot;100&quot; }}&lt;/p&gt;
{% endfor %}
{% endblock %}
				</code>
			</pre>
			
		</section>
		<footer>
			
		</footer>
	</body>
</html>